# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle-wrapper.jar
android/local.properties
!android/local.properties

# IDE
.idea/
.vscode/

# macOS
.DS_Store
